$white: #ffffff;

$grey-xlight: #EBEBEB;
$grey-lighter: #D8D8D8;
$grey-light: #95A3B3;
$grey: #424242;
$grey-dark: #373636;
$grey-xdark: #242424;

$black: #000000;

$blue: #4673CE;

$green: #7CA040;

$red-light: #f2dede;
$red: #f43f3f;

$primary: $red;
$secondary: $blue;