<hero-sites title="Sites"></hero-sites>

<list-sites></list-sites>

<footer-sites>
  <template v-slot>
    <div class="section">
      <%= link_to new_site_path, class: 'waves-effect waves-light btn' do %>
        <i class="material-icons left">add</i> Add a new site
      <% end %>
    </div>
  </template>
</footer-sites>