<hero-sites title="All Sites">
  <template v-slot>
    <div class="section">
      <%= link_to new_site_path, class: 'waves-effect waves-light btn' do %>
        <i class="material-icons left">add</i> Add a new site
      <% end %>
    </div>
  </template>
</hero-sites>

<table-large></table-large>